/* .container {
    max-width: 46rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    padding: 0 1rem;
  
    }
  

    .infoTask{
      
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */